{% extends "@cms/layout/panel" %}

{% if title is not defined %}
	{% set title = 'Dashboard' %}
{% endif %}

{% block panel_class %}{{ parent() }} dashboard{% endblock %}

{% block panel_content %}
<p>This is the dashboard.</p>
{% endblock panel_content %}