{% extends "@cms/layout/cms.twig" %}
{% form_theme form "@cms/form/cms.twig" %}

{% if singularName is not defined %}
	{% set singularName = repository.getEntityHumanName() %}
{% endif %}

{% if title is not defined %}
	{% set title = 'Edit ' ~ singularName %}
{% endif %}

{% block title %}{{ title }} | {{ parent() }}{% endblock %}

{% block content_header %}

	<h1>{{ title }}</h1>

{% endblock %}

{% block content_inner %}

	{{ form( form ) }}

{% endblock %}
