{% use 'block/table.twig' %}


{% block table_value %}
{% spaceless %}

	{% set value = parent() %}
	{% set escape = true %}
	{% set link = false %}

	{% if field is defined %}
		{% if(field.titleField) %}
			{% set link = true %}
		{% endif %}
	{% endif %}

	{% if(escape) %}
		{% set value = value|escape %}
	{% endif %}

	{% if link %}<a href="{{ admin_url(dataType, 'edit', {'id': row[dataType.primaryKey]}) }}">{% endif %}{{ value|raw }}{% if link %}</a>{% endif %}

{% endspaceless %}
{% endblock %}
