{% extends layout|default(default_layout) %}

{% block content %}
<section class="page">

	<header>

		{% block page_header %}

		<h1>{{ page.title }}</h1>

		{% endblock page_header %}

	</header>

	<div class="content">

		{% block page_content %}

		{{ page.content|raw }}

		{% endblock page_content %}

	</div>

</section>
{% endblock content %}