{% extends 'layout/panel' %}

{% if title is not defined %}
	{% set title = 'Login' %}
{% endif %}

{% block panel_class %}{{ parent() }} login{% endblock %}

{% block panel_content %}

	{% if is_granted('ROLE_USER') %}
		<p class="info">You are currently logged in as {{ app.security.token.user }}.</p>
	{% endif %}

	{{ form( form ) }}

{% endblock panel_content %}