{% extends layout|default(default_layout) %}

{% block content %}
<section class="login">

	<header>

		<h1>Login</h1>

	</header>

	<div class="content">

		{{ form( form ) }}

	</div>

</section>
{% endblock content %}