{% use "form/default.twig" %}

{% block form_label %}
{% spaceless %}

	{{ parent() }}

	{% if required %}
		<span class="required" title="This field is required">*</span>
	{% endif %}

{% endspaceless %}
{% endblock %}

{% block form_rows %}
{% spaceless %}

	{{ parent() }}

	{% if form.parent is empty %}
	{{ block('submit_widget') }}
	{% endif %}

{% endspaceless %}
{% endblock %}