{% use "form/default.twig" %}

{% block form_label %}
{% spaceless %}

	{{ parent() }}

	{% if required %}
		<span class="required" title="This field is required">*</span>
	{% endif %}

{% endspaceless %}
{% endblock %}

{% block form_end %}
	{% spaceless %}

		{% if not render_rest is defined or render_rest %}
			{{ form_rest(form) }}
		{% endif %}

		{% if form.parent is empty %}
			{{ block('submit_widget') }}
		{% endif %}

		</form>
	{% endspaceless %}
{% endblock %}