{% extends layout|default(default_layout) %}

{% block content %}
<article class="blog_post">

	<header>

		<h1>{{ post.title }}</h1>

	</header>

	<div class="content">

		{{ post.content|raw }}

	</div>

</article>
{% endblock content %}