@import "compass/css3";
@import "compass/reset/utilities";
@import "compass/utilities";
@import "../../../Resource/scss/font-awesome/font-awesome";

$color-header-background: #666;
$color-header-title: #ccc;
$color-main-header-background:#eee;
$color-body-background: #fafafa;
$color-body-text:#333;
$color-link:#556;
$color-red:#e03;
$font-body: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-heading: $font-body;
$color-panel-background:#f0f0f0;
$font-serif: Crimson, Garamond, "Hoefler Text", "Times New Roman", Times, serif;

@mixin button {
	@include box-sizing('border-box');
	@include border-radius(0.2rem);
	@include transition-property('background-color, color');
	@include transition-duration(0.1s);
	@include text-shadow(0.05rem 0.05rem rgba(#fff, 0.2));
	@include box-shadow(0.05rem 0.05rem 0.05rem rgba(#000, 0.2));
	border:0.05rem solid rgba(#000, 0.1);
	display:block;
	font-size:0.8rem;
	line-height:1rem;
	height:1.2rem;
	padding:0.1rem 0.6rem;
	background:#ccc;
	text-decoration:none;
	margin-left:0.3rem;
	color:#666;
	cursor:pointer;
	&:hover {
		background:#c8c8c8;
		color:#444;
	}
}

@mixin fa-base {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin fa-icon($var) {
	@include fa-base;
	line-height: 1;
	content: $var;
}