@import "cms_base";

#cms-header {
	@include nested-reset;
	@include pie-clearfix;
	@include box-sizing('border-box');
	font-family:$font-body;
	color:$color-body-text;
	background-color:$color-main-header-background;
	line-height:1.6rem;
	padding:0 1rem;
	border-bottom:0.1rem solid rgba(#000, 0.2);
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:1000;
	+ * {
		margin-top:1.6rem;
		z-index:0;
	}
	> h1 {
		float:left;
		font-family:$font-heading;
		color:#888;
		font-size:0.95rem;
		font-weight:bold;
		line-height:1.6rem;
		padding-right:2rem;
	}
	> nav {
		float:left;
		&, ul, li {
			position:relative;
		}
		> ul {
			> li {
				display:block;
				float:left;
				border:0.1rem solid rgba(#000, 0.2);
				border-width:0 0.1rem 0 0;
				&:first-child {
					border-left-width: 0.1rem;
				}
				> a, > .label {
					@include text-shadow(0.05rem 0.05rem rgba(#fff, 0.8));
					text-decoration: none;
					line-height:1.6rem;
					padding:0 0.5rem;
				}
				> a {
					font-weight:bold;
				}
			}
		}
		a, .label {
			display:block;
			font-size:0.8rem;
			color:$color-body-text;
			white-space: nowrap;
		}
		a {
			background-color:rgba(#000, 0);
			@include transition-property('background-color');
			@include transition-duration(0.2s);
			&:hover {
				background-color:rgba(#000, 0.1);
			}
		}
		.label {
			cursor: default;
		}
		li {
			ul {
				background:$color-main-header-background;
				border:0.1rem solid rgba(#000, 0.2);
				a {
					padding:0.2rem 0.5rem;
					line-height:1.1rem;
				}
			}
			> ul {
				display:none;
				position:absolute;
				left:-0.05rem;
				top:100%;
			}
			&:hover {
				> ul {
					display:block;
				}
			}
		}
	}
}