@import "base";

@include global-reset;

@mixin panel-icon($icon) {
	> header {
		> h1 {
			&:before {
				@include fa-icon($icon);
				font-size:1rem;
				margin-right:0.4rem;
			}
		}
	}
}

body {
	background:$color-body-background;
}

#container {
	font-family: $font-body;
	color:$color-body-text;
	font-size:0.9rem;
	h1, h2, h3, h4, h5, h6 {
		font-family: $font-heading;
		color: $color-header-title;
		font-weight:bold;
	}
	a {
		color:$color-link;
	}
	b {
		font-weight:bold;
	}
	i {
		font-style:italic;
	}
	p {
		margin-bottom:0.6em;
		&:last-child {
			margin-bottom:0;
		}
	}
	button, input[type=submit] {
		@include button;
	}
	#main {
		display:flex;
		padding:0.5rem;
	}
	section, article, aside {
		&.panel {
			flex:1;
			@include box-sizing('border-box');
			@include border-radius(0.2rem);
			@include box-shadow(0.1rem 0.1rem 0.05rem rgba(#000, 0.2));
			position:relative;
			background:$color-panel-background;
			overflow:hidden;
			> header {
				@include box-sizing('border-box');
				@include border-radius(0.2rem 0.2rem 0 0);
				height:1.8rem;
				position:relative;
				background:$color-header-background;
				color:$color-header-title;
				padding:0.2rem 1rem 0;
				border-bottom:0.2rem solid rgba(#fff, 0.1);
				h1 {
					float:left;
					line-height:1.4rem;
					font-size:1rem;
				}
				nav {
					position:absolute;
					right:0.5rem;
					top:0.3rem;
					ul, li {
						display:inline;
					}
					a {
						@include button;
						float:left;
					}
				}
			}
			> .content {
				display:flex;
				@include box-sizing('border-box');
				position:relative;
				padding:0.5rem 1rem;
				overflow: scroll;
				line-height:1.2em;
				> table, > form {
					flex:1;
				}
				> aside {
					flex:0.4;
					margin-left:1rem;
				}
			}
			&.table, &.form {
				> .content {
					padding:0;
				}
			}
			&.edit {
				@include panel-icon($fa-var-edit);
			}
			&.add {
				@include panel-icon($fa-var-plus-square-o);
			}
			&.index {
				@include panel-icon($fa-var-list-alt);
			}
		}
	}
	aside.panel {
		flex:0.3;
	}
	.panel .panel > header, tbody th {
		background:rgba($color-header-background, 0.4);
	}
	.panel .panel > header h1, tbody th {
		color:$color-body-text;
	}
	table {
		@include border-radius(0 0 0.2rem 0.2rem);
		width:100%;
		&, thead, tbody, tfoot, tr, th, td {
			@include box-sizing('border-box');
		}
		th, td {
			padding:0.3rem 0.4rem;
			&:first-child {
				padding-left:1rem;
			}
			&:last-child {
				padding-right:1rem;
			}
		}
		th {
			font-weight:bold;
		}
		td {
			@include transition-property('background-color');
			@include transition-duration(0.1s);
			background: rgba(#000, 0);
		}
		thead {
			th {
				background:$color-header-background;
				color:$color-header-title;
			}
		}
		tbody {
			tr {
				&:nth-child(even) {
					td {
						background:rgba(#000, 0.02);
					}
				}
				&:hover {
					td {
						background:rgba(#000, 0.05);
					}
				}
			}
		}
		tfoot {
			font-style:italic;
		}
	}
	form {
		@include pie-clearfix;
		padding-bottom:0.4rem;
		.form_row {
			@include pie-clearfix;
			@include transition-property('background-color');
			@include transition-duration(0.1s);
			border-bottom:0.1rem solid rgba(#000, 0.05);
			padding:0.3rem 1rem;
			> label, > .widget {
				float:left;
			}
			> label {
				width:30%;
				min-width:5rem;
				max-width:10rem;
				padding-top:0.2rem;
			}
			> .widget {
				width:70%;
				min-width:15rem;
				max-width:30rem;
			}
			&:hover {
				background:rgba(#000, 0.02);
			}
		}
		.button_row {
			padding:0.3rem 0 0.3rem;
			display:inline-block;
			margin-left:1rem;
			+ .form_row {
				margin-top:0.4rem;
			}
		}
		label {
			color:#666;
		}
		input, select, textarea, .scribe-content {
			outline:none;
		}
		input[type=text], input[type=number], input[type=password], input[type=email], textarea, .scribe-content-outer {
			@include box-sizing('border-box');
			@include transition-property('border-color');
			@include transition-duration(0.2s);
			width:100%;
			padding:0.2rem 0.6rem;
			border:0.1rem solid #aaa;
			background: #fff;
			font-size:0.9rem;
			&:focus {
				border-color:#888;
			}
		}
		textarea {
			height:6rem;
		}
		.scribe-content-outer {
			overflow: scroll;
			height:6rem;
			resize:both;
		}
		.scribe-content {
			@include nested-reset;
			@include box-sizing(border-box);
			padding-top:0.4rem;
			padding-bottom:0.4rem;
			min-height:100%;
			font-size:1em;
			* {
				color: #333;
			}
			p, h1, h2, h3, h4, blockquote, > ul, > ol {
				margin-bottom:0.5em;
			}
			h1 {
				font-weight:bold;
				font-size:1.6rem;
			}
			h2 {
				font-weight:bold;
				font-size:1.4rem;
			}
			h3 {
				font-weight:bold;
				font-size:1.2rem;
			}
			h4 {
				font-weight:bold;
				font-size:1rem;
			}
			b, strong {
				font-weight:bold;
			}
			i, em {
				font-style:italic;
			}
			blockquote {
				padding-left:0.6rem;
				position: relative;
			}
			ul {
				margin-left:1rem;
				> li {
					list-style-type: disc;
				}
			}
			ol {
				margin-left: 1rem;
				> li {
					list-style-type: decimal;
				}
			}
		}
		.scribe-textarea {
			display:none;
		}
		.scribe-toolbar {
			button {
				display:inline-block;
				margin:0 0.2rem 0.3rem 0;
				width:1.2rem;
				height:1.2rem;
				text-indent:-100rem;
				position:relative;
				&:before {
					@include fa-base;
					display: block;
					width:1.2rem;
					height:1.2rem;
					overflow: hidden;
					position:absolute;
					left:0;
					top:0;
					line-height:1.5rem;
					text-align:center;
					text-indent:0;
				}
				&.btn-bold:before {
					content: $fa-var-bold;
				}
				&.btn-italic:before {
					content: $fa-var-italic;
				}
				&.btn-strikeThrough:before {
					content: $fa-var-strikethrough;
				}
				&.btn-linkPrompt:before {
					content: $fa-var-link;
				}
				&.btn-unlink:before {
					content: $fa-var-unlink;
				}
				&.btn-insertOrderedList:before {
					content: $fa-var-list-ol;
				}
				&.btn-insertUnorderedList:before {
					content: $fa-var-list-ul;
				}
				&.btn-indent:before {
					content: $fa-var-indent;
				}
				&.btn-outdent:before {
					content: $fa-var-outdent;
				}
				&.btn-undo:before {
					content: $fa-var-undo;
				}
				&.btn-redo:before {
					content: $fa-var-rotate-right;
				}
				&.btn-blockquote:before {
					content: $fa-var-quote-left;
				}
				&.btn-removeFormat:before {
					content: $fa-var-eraser;
				}
				&.btn-h1, &.btn-h2, &.btn-h3, &.btn-h4 {
					&:before {
						font-family: $font-serif;
						content: 'H1';
						font-size:0.7rem;
						font-weight: bold;
					}
				}
				&.btn-h2:before {
					content: 'H2';
				}
				&.btn-h3:before {
					content: 'H3';
				}
				&.btn-h4:before {
					content: 'H4';
				}
			}
		}
	}
	> .flash-container {
		padding:0.6rem 0.5rem 0;
		.flash-message {
			@include border-radius(0.2rem);
			background:#1c2;
			color:#fff;
			padding:0.4rem 1rem;
			font-size:0.9rem;
			font-weight:bold;
			&:before {
				@include fa-icon($fa-var-info-circle);
				margin-right:0.4rem;
				position:relative;
				top:-0.05rem;
			}
		}
	}
}
