{% extends "@admin/layout/admin.twig" %}

{% form_theme form "@admin/form/form_admin.twig" %}

{% block content %}

	<h1>Edit {{ dataType.singularHumanName }}</h1>

	{{ form( form ) }}

{% endblock %}
