{% extends "@admin/layout/admin.twig" %}

{% block content %}

	<h1>Edit {{ dataType.singularHumanName }}</h1>

	<form method="post" action="#">

		{{ form_widget( form.createView() ) }}

		<button type="submit">Save</button>

	</form>

{% endblock %}
