{% extends "@admin/layout/admin.twig" %}
{% form_theme form "@admin/form/cms.twig" %}

{% block content_header %}

	<h1>Edit {{ dataType.singularHumanName }}</h1>

{% endblock %}

{% block content_inner %}

	{{ form( form ) }}

{% endblock %}
