{% use "form/default" %}

{% block form_label %}
{% spaceless %}

	{{ parent() }}

	{% if required and label is not sameas(false) %}
		<span class="required" title="This field is required">*</span>
	{% endif %}

{% endspaceless %}
{% endblock form_label %}
