{% use "form_div_layout.html.twig" %}

{% block form_row %}
{% spaceless %}

	<div class="input input_{{ name }}{% if required %} required{% endif %}">
		{{ form_label(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</div>

{% endspaceless %}
{% endblock %}