<!DOCTYPE html>
{% block tag_html %}<html>{% endblock %}

	<head>

		{% block head %}

		<title>{% block title %}{{ app_name }}{% endblock %}</title>

		{% block meta %}
		<meta charset="{{ app_charset }}" />
		{% if meta_description is defined %}
		<meta name="description" content="{{ meta_description }}">
		{% endif %}
		{% endblock %}

		{% block stylesheets %}{% endblock %}

		{% endblock %}

	</head>

	{% block tag_body %}<body>{% endblock %}

		{% block body %}

		{% block content %}{% endblock %}

		{% endblock %}

		{% block javascripts %}{% endblock %}

	</body>

</html>