<!DOCTYPE html>
{% block tag_html %}<html>{% endblock %}

	<head>

		{% block head %}

		<title>{% block title %}{{ app.name }}{% endblock %}</title>

		{% block meta %}
		<meta charset="{{ app.charset|lower }}" />
		{% if meta_description is defined %}
		<meta name="description" content="{{ meta_description }}">
		{% endif %}
		{% endblock meta %}

		{% block stylesheets %}{% endblock %}

		{% endblock head %}

	</head>

	{% block tag_body %}<body>{% endblock %}

		{% block body %}

		{% block content %}{% endblock %}

		{% block javascripts %}{% endblock %}

		{% endblock body %}

	</body>

</html>