{% extends 'layout/html5' %}

{% block meta %}

	{{ parent() }}

	<meta name="viewport" content="{% block meta_viewport %}width=device-width, initial-scale=1{% endblock %}">
	<meta http-equiv="X-UA-Compatible" content="{% block meta_x_ua_compatible %}IE=edge{% endblock %}">

{% endblock meta %}

{% block head %}

	{{ parent() }}

	<script src="{{ asset_url('js_modernizr') }}"></script>

{% endblock head %}

{% block body %}

	<div id="container">

		{% block container %}

			{% block content %}{% endblock %}

		{% endblock container %}

	</div>

	{% block javascripts %}{% endblock %}

{% endblock body %}