<header id="cms-header">

	{% block cms_header %}

		<h1>
			<a href="{{ url('cms') }}">
			{% block cms_header_title %}{{ app.name }} CMS{% endblock %}
			</a>
		</h1>

		<nav role="navigation">

			{% if is_granted('ROLE_ADMIN') %}

			{% block cms_header_nav %}

			{{ list( app['cms.navigation_list'] ) }}

			{% endblock cms_header_nav %}

			{% endif %}

		</nav>

	{% endblock cms_header %}

</header>